---
layout: default
title:  'Our Products'
---

<section class="brands-section">
	<div class="container">
		<div class="row info-row">
			<div class="col-xs-3 col-lg-3">
				<img src="images/amouagelogo.jpg" class="img-responsive">
			</div>
			<div class="col-xs-9 col-md-8 col-md-offset-1">
				<p>Founded 30 years ago to reflect the wonderful heritage and tradition of perfumery from the Sultanate of Oman, Amouage is an international luxury fragrance house that draws inspiration form cultures around the world. <br><br>
				Devoted to creating finely blended perfumes with the highest quality of ingredients sourced from around the world, Amouage
				brings artistry to perfumery with an incomparable distinction. Original and evocative, Amouage perfumes are created by
				Christopher Chong, Creative Director, with internationally recognized perfumers in Paris and Grasse , in the South of France. <br><br>
				At the heart of all Amouage creations is a signature accord that cultivates the ultimate luxury of being unique and distinctive.</p>
			</div>
		</div>
		<div class="row brands-row">
			{% assign amouageprods = site.products | where: "category", "Amouage" %}
			{% for product in amouageprods %}
			<div class="col-lg-4">
				<div class="brand-container" >
					<a href="#" data-toggle="modal" data-target="#{{ product.name | replace: ' ', '-' | downcase }}" class="product-modal-link">
						<div class="brand-image">
							<img class="img-responsive" src="{{ product.image_path }}"></img>
						</div>
						<div class="brand-info">
							<p class="name">{{ product.name }}</p>
							<p class="info">{{ product.subtitle }}</p>
						</div>
					</a>
				</div>

			</div>		    
			{%endfor%}
		</div>
	</div>
</section>

{% for product in amouageprods %}
<!-- Modal -->
<div id="{{ product.name | replace: ' ', '-' | downcase }}" class="modal fade" role="dialog">
  <div class="modal-dialog">
	
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row" >
		<div class=" col-xs-4 col-lg-4 " >
			<img class="img-responsive" src="{{ product.image_path }} " style="margin: 46px 8px;padding: 18px;"></img>
		</div>
		<div class="col-xs-8 col-lg-8 " style="border-left: 2px solid black; padding: 35px;">
			<img src="{{ product.category-logo }}" class="img-responsive" width="40%">
			<h2>{{ product.name }}</h2>
		    <p>{{ product.subtitle }} </p>
		    
		        <p style="font-size: 14px; color: #8a8a8a;margin-bottom: 20px; letter-spacing: 0.05em;">{{ product.content }}</p>
		      
		     <strong> <p>NOTES: <br>
				{{product.notes}}
		      </p></strong>
		</div>	
	</div>      
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>
{%endfor%}
