<div class="footer container">
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<p class="copyright">
				Copyright 2017 &copy; scentsutra.com
			</p>
		</div>
		<div class="col-xs-2">
			<a class="legal-link" href="#" style="color: black">LEGALS</a>
		</div>
		<div class="col-xs-4 pull-right" style="float: right;">
			<p style="float: right;">Supported by <a href="http://midasindia.net" target="_blank"><img src="images/midaslogo.png" style="width: 100px; margin-left: 12px;"></a></p>
		</div>
	</div>
</div> 